<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Symphonia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Symphonia.Properties.Settings>
            <setting name="TemplateStartCharacter" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="TemplateStopCharacter" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>User-Agent: UPnP/1.0 DLNADOC/1.50 Platinum/1.0.4.2-bb / Symphonia</value>
            </setting>
            <setting name="Usn" serializeAs="String">
                <value>uuid:0011321c-387c-0011-7c38-7c381c321100::urn:schemas-upnp-org:device:MediaServer:1</value>
            </setting>
            <setting name="MediaServer" serializeAs="String">
                <value>http://192.168.2.180:50001</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>500</value>
            </setting>
        </Symphonia.Properties.Settings>
    </applicationSettings>
</configuration>